
h1{
    color:rgb(151, 13, 13)
}
#p_legal{
  color:rgb(124, 119, 119);
  text-align: center;

}

p{
    color:rgb(163, 52, 0)
}
.texto{
    color:red;
    font-size: 30px;
    text-align: justify;
}
body{
    background-color: darkblue;
}
.zeta{
    background-color: black;
    border: 6px solid white;
    border-radius: 12px;
}
iframe{
    text-align:left;
}
img{
    text-align: right;

}